{% extends 'baseA.html'%}
{% block title %}
   Form Submission
{% endblock %}

{% block content %}
{% for row in rows %}
<form  action = "/createCV/{{row.id}}" method = "POST" >
  <h1>Thank you</h1>
<h5>You have applied successfully, you will receive a response email soon</h5>
<i class="bi bi-check2-all"></i>
<svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
  <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
  <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
</svg>
<input class="nextBtn" type="submit" value="view CV">
{% endfor%}
</form>
<style>
    *{
      text-align: center;
    }
    h1{
    color: #a1c7c8;
    text-align: center;
    font-family: Andalus;
    font-size: 5rem;
    position:relative;
    top: 200px;
    }
    h5{
    font-family: Baguet Script;
    position:relative;
    top: 205px;
    }
    .bi-check2-all{
    color: pink;
    position:relative;
    left: 10px;
    }
    .nextBtn{
      margin: auto;
      font-size: 1.2rem;
      border: none;
      border-radius: 10px;
      width: 20%;
      height: 60%;
      padding: 5px 10px;
      color: #FFF;
      background: #A1C7C8;
      display: block;
      position: relative;
      left: 20px;
      top: 130px;
      }
</style>
{% endblock %}

